<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../../vue.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <v-input v-model="username"></v-input>
        <v-textarea v-model="message"></v-textarea>
        <button></button>
        <v-list></v-list>
        <div class="message">
            
        </div>
    </div>
    <script src="./input.js"></script>
    <script src="./textarea.js"></script>
    <script src="./list.js"></script>
    <script src="./index.js"></script>
</body>
</html>